/* Red color: #eb4d4b
  Darker red: #e82f2c
  Brown color: #413736
 */


/* ---BASIC SETUP--- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: white;
  color: #555;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 200;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

/* ---REUSABLE COMPONENTS--- */

.row {
  max-width: 1140px;
  margin: 0 auto;
}

section {
  padding: 20px 0;
}

/* ---HEADINGS--- */
h1 {
  margin-bottom: 10px;
  color: #fff;
  font-size: 240%;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 3px;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 180%;
  word-spacing: 3px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 30px;
  border-bottom: 2px solid #eb4d4b;
  padding: 10px;
}

h3 {
  color: white;
  font-weight: bold;
  font-size: 200%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}



/* ---HEADER SECTION--- */

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(Images/backgroundpic5.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.hero-text-box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.logo {
  height: 170px;
  width: auto;
  float: left;
  margin-top: 7px;
}

.main-nav {
  float: right;
  list-style: none;
  margin-top: 60px;
}

.main-nav li {
  display: inline-block;
  margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
  padding: 8px 0;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 100%;
  font-weight: bold;
  border-bottom: 2px solid transparent;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #eb4d4b;
  transition: 0.4s;
}

/* ---BUTTONS--- */

.button:link,
.button:visited {
  display: inline-block;
  padding: 10px 50px;
  margin: 0 10px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 200px;
  color: #fff;
  border: 1px solid #d94b4c;
}

.button:hover,
.button:active {
  background-color: #413736;
  color: #fff;
  font-weight: bold;
  border: 1px solid #413736;
  transition: 0.4s;
}

/* COUNTRIES */


img {
  width: 400px;
  height: 40vh;
  display: block;
  margin: 5px auto;
  border-radius: 20px;
}

section .continent {
  height: 100vh;
  width: auto;
}

/* MAKING TEXT OVERLAY ON COUNTRY IMAGES */

.country {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 400px;
  height: 40vh;
  opacity: 0;
  transition: .5s ease;
  background-color: #413736;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}

.country:hover .overlay {
  opacity: 0.70;
}

.country:hover {
  transform: scale(1.15);
  transition: transform 0.5s;
}

/* ---FOOTER--- */

}
footer {
  background-color: #413736;
  padding: 20px;

h4 {
  color: white;
  font-size: 70%;
  float: right;
}
