
body {
  margin: 0; /* Adding this so there is no spacing around the body*/
  font-family: 'Montserrat', sans-serif;
}

.bg {
  background-image: url("Images/backgroundpic5.jpg");
  height: 100vh; /* 100 viewport height*/
  width: 100vw; /* 100 viewport width*/
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column; /* the default for flexbox is row*/
  justify-content: center;
  align-items: center;
  text-align: center; /* adding this so text is always centered, when screen size changes*/
  padding: 10px;
  margin: 0px;
}

.button {
  font-size: 50px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  background-color: white;
  opacity: 0.7;
  padding: 10px;
  border-radius: 30px;
}

/* Adding change of background color and font color when hovering over the button*/
.button:hover {
  background: #413736;
  color: white;
  opacity: 0.8;
}


.invitation {
  background-color: #413736; /*nice grey:#423E3D */
  color: white;
  font-weight: bold;
  opacity: 0.8;
  font-size: 70px;
  padding: 10px;
  border-radius: 30px;
}
